<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">

    <title>Teller Test Page</title>
</head>

<body>
    <!-- Insert this button to our liking witin the secondary login page to connect their bank account-->
    <button id="teller-connect">Connect to your bank</button>

    <!-- place these tags at bottom of body -->
    <!-- adjust the first tag to match loction of teller-connect.js (leaving it in public/js should be fine) -->
    <script src='js/teller-connect.js'></script>    
    <script src="https://cdn.teller.io/connect/connect.js"></script>
    
</body>
</html>