<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">

    <title>Teller Test Page</title>
</head>

<body>
    <!-- When element is clicked, Teller Connect will open -->
    <button id="teller-connect">Connect to your bank</button>

    <!-- Body of your page... -->
    <script src='js/teller-connect.js'></script>    
    <script src="https://cdn.teller.io/connect/connect.js"></script>
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function() {
          var tellerConnect = TellerConnect.setup({
            applicationId: "app_niva4bnsonc3orr178000",
            environment: 'development',
            onInit: function() {
              console.log("Teller Connect has initialized");
            },
            onSuccess: function(enrollment) {
              console.log("User enrolled successfully", enrollment.accessToken);
              let aToken = enrollment.accessToken;
              return aToken;
            },
            onExit: function() {
              console.log("User closed Teller Connect");
            }
          });
  
          var el = document.getElementById("teller-connect");
          el.addEventListener("click", function() {
            tellerConnect.open();
          });
        });
    </script> -->
</body>
</html>