<div class='container' id='user-prompt-container'>
    <form>
        <div class='mb-5'>
            <label for='user-spend-budget-max' class='form-label'>What is your max spending budget?</label>
            <input type='decimal' class='form-control' id='user-spend-budget-max'>
        </div>

        <div class='mb-5'>
            <label for='user-spend-budget-min' class='form-label'>What is your min spending budget?</label>
            <input type='decimal' class='form-control' id='user-spend-budget-min'>
        </div>

        <div class='mb-5'>
            <label for='user-average-income' class='form-label'>Approximately, what is your average income?</label>
            <input type='decimal' class='form-control' id='user-spend-budget-max'>
        </div>

        <div id='payment-schedule'>
            <label for='form-check'>How often do you get paid?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="select-options1">
                <label class="form-check-label" for="select-options1">Weekly</label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="select-options2">
                <label class="form-check-label" for="select-options2">Bi-Weekly</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="select-options3">
                <label class="form-check-label" for="select-options3">Monthly</label>
            </div>

        </div>
        
        <button class='button' id='submit-button' type='submit' src='add leading page'></button>
    </form>
</div>>